body {
    padding: 0;
    margin: 0;

    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: normal;
    color: #888794;

    background: url("../img/footer-bg.png") no-repeat bottom center;
    background-size: contain;
}

.container {
    width: 1390px;
    margin: 0 auto;
    padding: 0 15px;
}

.visually-hidden {
    position: absolute;
    padding: 0;
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.button {
    display: inline-block;
    padding: 27px 30px;
    overflow: hidden;
    border-radius: 40px;

    font-weight: 600;
    font-size: 13px;
    line-height: normal;
    letter-spacing: 0.32em;
    color: white;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    opacity: 0.9;
}

.button-dark {
    background-color: #515076;
}

.section-title {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 70px;
    line-height: 76px;
    color: #757AA5;
}

.main-header {
    background-color: #EDECF6;
}

.main-nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin: 12px 0 21px;
}

.header-menu-list {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;

    list-style: none;
    margin: 15px auto 15px 70px;
    padding: 0;
    max-width: 850px;
}

.header-menu-item {
    margin-right: 25px;
    padding: 25px 15px;
    border-radius: 5px;
}

.header-menu-item:hover {
    background: #DEDDEA;
}

.header-menu-item a {
    line-height: 25px;
    color: #515076;
    opacity: 0.5;
    text-decoration: none;
}

.header-menu-item:hover a {
    opacity: 1;
}

.header-basket {
    width: 60px;
    height: 60px;
    margin: 20px 35px;
    border-radius: 50%;
    font-size: 0;

    background: white url("../img/header-basket.svg") no-repeat center;

    position: relative;
}

.header-basket::after {
    content: "1";

    width: 21px;
    height: 21px;
    border-radius: 50%;
    background: #757AA5;

    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    vertical-align: middle;
    text-align: center;
    color: white;

    position: absolute;
    top: -2px;
    right: -5px;
}

.header-contacts-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-contacts-item a {
    text-decoration: none;
    color: #515076;
}

.promo {
    padding: 125px 0 500px;

    background-image: url(../img/promo-bg-1.png), url(../img/promo-bg-2.png), url(../img/promo-bg-3.png);
    background-repeat: no-repeat;
    background-position: top -80px right, bottom -400px right, top 610px left;
}

.promo-title {
    font-family: "Playfair Display", sans-serif;
    font-weight: normal;
    font-size: 230px;
    line-height: 92%;
    color: #515076;

    margin-bottom: 60px;
}

.promo-wrapper {
    display: flex;
}

.promo-first-column {
    width: 390px;
    margin-right: 105px;
}

.promo-first-column-title {
    margin: 35px 0 660px;

    font-weight: normal;
    font-size: 36px;
    line-height: 47px;
    color: #63678C;
}

.promo-text {
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #888794;

    margin: 25px 0;
}

.promo-second-column {
    width: 390px;
    margin-right: 105px;
}

.promo-second-column .promo-text:nth-child(1) {
    margin: 0 0 70px;
}

.promo-second-column .promo-text:nth-child(1) span {
    font-weight: bold;
    color: #8888A8;
}

.promo-second-column .button-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.promo-second-column .choice-product {
    margin: 65px 0;
}

.promo-third-column {
    width: 400px;
    margin-right: 20px;
}

.promo-text-individual {
    margin: 600px 0 80px 225px;
    max-width: 172px;

    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    line-height: 29px;
    letter-spacing: 0.30em;
    color: #888794;
    text-align: right;
    text-transform: uppercase;

    position: relative;
}

.promo-text-individual::before {
    content: "*";

    position: absolute;
    right: 0;
    top: -28px;

    font-weight: 200;
    font-size: 39px;
}

.promo-third-column-title {
    margin-top: 80px;

    font-weight: 300;
    font-size: 36px;
    line-height: 39px;
    color: #757AA5;
}

.products {
    padding: 135px 0 210px;
    background: url("../img/products-bg.png") no-repeat top -130px left;
}

.products-title {
    text-align: center;
}

.products-list {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    list-style: none;
    margin: 80px -30px 0 0;
    padding: 0;
}

.products-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-right: 30px;
    width: 329px;
    background: white;

    position: relative;
}

.products-item-big {
    width: 380px;
}

.products-item-discount::before {
    content: "";

    width: 67px;
    height: 67px;
    background: url("../img/procent.png") no-repeat center;

    position: absolute;
    top: -30px;
    left: 0;
}

.products-item-content {
    width: 100%;
    padding: 0 37px 49px;
    box-sizing: border-box;
}

.products-item-big .products-item-content {
    padding: 0 42px 49px;
}

.products-item-category-text {
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.23em;
    color: #A5A3B9;

    margin: 0 0 10px;
}

.products-item-title {
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #515076;

    margin: 10px 0 20px;
    max-width: 200px;
}

.products-item-price-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 20px 0 0;
}

.products-item-price {
    font-size: 20px;
    line-height: 27px;
    color: #515076;

    margin: 0;
}

.products-item-old-price {
    font-size: 18px;
    line-height: 24px;
    color: #515076;
    opacity: 0.6;
    text-decoration: line-through;

    margin: 0;
}

.products-item-new-price {
    font-size: 24px;
    line-height: 32px;
    color: #515076;
    opacity: 0.8;

    margin: 0 auto 0 20px;
}

.products-item-basket, .promotion-item-basket {
    width: 28px;
    height: 28px;
    background: url("../img/products-basket.png") no-repeat center;
    font-size: 0;
}

.promotion {
    padding: 0 0 130px;
    background: url("../img/promotion-bg.png") no-repeat left center;
}

.promotion-wrapper {
    display: flex;
    padding-bottom: 231px;
}

.promotion-text-column {
    width: 390px;
    margin-right: 190px;
}

.promotion-title {
    margin-bottom: 100px;
}

.promotion-text {
    font-size: 18px;
    line-height: 36px;
    color: #888794;

    margin: 15px 0 100px;
    max-width: 330px;
}

.promotion-button-wrapper {
    display: flex;
    margin-left: -10px;
}

.promotion-button-wrapper button {
    width: 74px;
    height: 74px;
    margin: 0 10px;
    border: 1px solid #CFCFD4;
    box-sizing: border-box;
    border-radius: 50%;
    font-size: 0;
    background: transparent;

    position: relative;
}

.promotion-button-wrapper button:hover {
    border-color: #888794;
}

.button-prev::before, .button-next::before {
    content: "";
    width: 15px;
    height: 15px;
    border: 2px solid #CFCFD4;
    border-left: transparent;
    border-bottom: transparent;

    position: absolute;
    top: 50%;
}

.button-prev::before {
    left: 53%;
    transform: translate(-50%, -50%) rotate(225deg);
}

.button-next::before {
    left: 47%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.promotion-button-wrapper button:hover:before {
    border-color: #888794;
}

.promotion-card-column {
    width: 812px;
    box-shadow: -40px 40px 0 0 rgba(81, 80, 118, 1);
}

.promotion-card-wrapper {
    display: flex;
}

.promotion-card-text-column {
    width: 450px;
    margin-left: 63px   ;
}

.promotion-card-number {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background: #EDECF6;
    margin: 40px 0 30px;

    font-weight: normal;
    font-size: 18px;
    line-height: 62px;
    color: #515076;
    text-align: center;
    vertical-align: middle;
}

.promotion-card-title {
    font-weight: 300;
    font-size: 30px;
    line-height: 39px;
    color: #4C5072;

    margin: 30px 0;
    max-width: 337px;
}

.promotion-card-text {
    max-width: 433px;
}

.promotion-card-img-column {
    width: 296px;
    padding-top: 50px;
}

.promotion-category {
    display: inline-block;
    font-size: 13px;
    line-height: 26px;
    letter-spacing: 0.17em;
    text-transform: uppercase;
    color: white;

    transform: rotate(-90deg) translate(100px, -135px);
}

.promotion-list {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    list-style: none;
    margin: 0 -35px 0 0;
    padding: 0;
}

.promotion-item {
    display: flex;
    flex-direction: column;

    width: 350px;
    margin-right: 35px;
}

.promotion-item-discount {
    font-size: 36px;
    line-height: 48px;
    color: #515076;
    background: #E7E7ED;
    text-align: center;
}

.promotion-item:first-child .promotion-item-discount {
    font-weight: normal;
    margin: 0 0 7px;
    padding: 25px 0 ;
}

.promotion-item:nth-child(2) .promotion-item-discount {
    margin: 0 0 57px;
    padding: 50px 0 ;
}

.promotion-item:last-child .promotion-item-discount {
    font-weight: 600;
    margin: 0 0 107px;
    padding: 75px 0 ;
}

.promotion-item-content {
    padding: 10px 40px 35px;
}

.promotion-item-text {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #515076;

    margin: 0 0 30px;
    min-height: 100px   ;
}

.promotion-item-price-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.promotion-item-old-price {
    font-size: 18px;
    line-height: 24px;
    color: #515076;
    opacity: 0.6;
    text-decoration: line-through;

    margin: 0;
}

.promotion-item-new-price {
    font-size: 20px;
    line-height: 27px;
    color: #515076;
    opacity: 0.8;

    margin: 0 auto 0 20px;
}

.profit {
    background-image: url(../img/profit-bg.png), linear-gradient(to bottom, #edecf6 1000px, #ffffff 935px, #ffffff 100%);
    background-position: top 300px right, top 200px right;
    background-repeat: no-repeat;
    z-index: 6;
    position: relative;
}

.profit-main-text {
    font-family: "Playfair Display", sans-serif;
    font-weight: normal;
    font-size: 330px;
    line-height: 310px;
    color: #D6D4E7;
    text-align: center;

    margin: 0 0 -100px;
}

.statistics {
    padding: 133px 0 300px;
}

.statistics-wrapper {
    display: flex;
}


.statistics-img-column {
    width: 885px;
}

.statistics-text-column {
    width: 504px;
    padding-top: 110px;
}

.statistics-text-column-title {
    display: flex;
    flex-direction: column;

    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.3em;
    color: #A5A3B9;
    text-transform: uppercase;
}

.statistics-text-column-title span:first-of-type {
    font-weight: 300;
    font-size: 120px;
    line-height: 130px;
    color: #515076;
}

.statistics-text-column-title span:last-of-type {
    font-weight: 200;
    font-size: 70px;
    line-height: 76px;
    color: #515076;
    text-transform: lowercase;
}

.statistics-text {
    margin-top: 60px;
}


.posts-title {
    text-align: center;
    padding-bottom: 80px;
}

.posts-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;

    list-style: none;
    margin: 0 -30px 0 0;
    padding: 0;
    height: 876px;
}

.posts-item {
    width: 300px;
    margin: 0 30px 25px 0
}

.posts-item:first-child {
    margin-top: 210px;
}

.posts-item:last-child {
    margin-top: 115px;
}

.posts-item article {
    display: flex;
    flex-direction: column;

    border-top: 6px solid #515076;
    padding: 30px 33px 45px 35px;
}

.posts-item-category {
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.23em;
    color: #A5A3B9;
    text-transform: uppercase;

    margin: 0 0 5px 0;
    order: -1;
}

.posts-item-title {
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #515076;

    margin: 5px 0 20px;
}

.posts-item-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    color: #888794;

    margin: 20px 0 80px;
}

.posts-item-link {
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.23em;
    color: #515076;
    text-transform: uppercase;
    text-decoration: none;

    position: relative;
}

.posts-item-link::before {
    content: "";

    width: 25px;
    border-top: 1px solid #515076;

    position: absolute;
    top: 50%;
    left: -35px;
    transform: translateY(-50%);
}

.authors {
    padding-top: 145px;
    padding-bottom: 250px;
    background: url("../img/author-bg.png") no-repeat top 125px right 700px;
}

.authors-wrapper {
    display: flex;
    align-items: flex-end;
}

.authors-text-column {
    width: 700px;
    margin-right: 87px;
}

.authors-title {
    max-width: 390px;
    margin-bottom: 55px;
}

.authors-name {
    font-size: 20px;
    line-height: 40px;
    color: #515076;

    margin: 55px 0 15px;
}

.authors-text {
    margin: 15px 0 35px;
}

.authors-quote {
    display: block;
    margin: 35px 0 60px;
    padding: 0 0 0 70px;
    position: relative;
}

.authors-quote::before {
    content: "“";
    font-family: "Circe", sans-serif;
    font-weight: bold;
    font-size: 60px;
    line-height: 1.8px;

    position: absolute;
    top: 30px;
    left: 0;
}

.authors-img-list {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;

    list-style: none;
    margin: 0 0 -30px 0;
    padding: 0;
    max-width: 660px;
}

.authors-img-item {
    width: 153px;
    height: 175px;
    margin-right: 65px;
    margin-bottom: 30px;
}

.authors-img-column {
    display: flex;
    align-items: flex-end;
    width: 603px;
}

.main-footer {
    padding-bottom: 300px;
}

.footer-contacts-block {
    padding: 50px 35px 65px 78px;
    background-color: white;
    width: 440px;
}

.footer-contacts-title {
    margin-bottom: 30px;
}

.phone {
    font-size: 16px;
    line-height: 32px;
    color: #828282;
    text-decoration: none;
}

.address {
    font-size: 16px;
    line-height: 32px;
    color: #828282;
}

.contacts-list {
    display: flex;
    align-items: flex-start;

    list-style: none;
    margin: 15px 0 0 0;
    padding: 0;
}

.contacts-item {
    width: 23px;
    height: 20px;
    margin-right: 25px;
    font-size: 0;
}

.contacts-item-fb {
    background: url("../img/facebook-app-logo.png") no-repeat center;
}

.contacts-item-inst {
    background: url("../img/instagram-logo.png") no-repeat center;
}